@import 'normalize';
@import 'skeleton';
@import url(https://fonts.googleapis.com/css?family=Abel);

body{
  font-family: 'Abel', sans-serif;
  nav{
    background: #000;
    padding: 0 2em;
    height: 3em;
    h3{
      font-family: 'Abel', sans-serif;
      margin: 0;
      font-size: 36px;
      color: #9E3CCE;
      float: left;
    }
    h6{
      float: right;
      line-height: 3em;
      font-style: italic;
      color: #FFFFFF;
      display: none;
      margin: 0;
    }
    > a div.fa {
      line-height: 1.5em;
      float: right;
    }
    .fa-plus-square{
      color: white;
      font-size: 28px;
    }
  }
  #mask {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 99998;
  }
}

#sign-in-and-sign-up{
    background: #333;
    padding: 10px;
    border: 1px solid #000000;
    font-size: 1.2em;
    position: fixed;
    top: 40%;
    left: 20%;
    width: 35%;
    min-width: 220px;
    z-index: 99999;
    box-shadow: 0px 0px 20px #999;

   > a{
      padding: 2px 22px;
      text-decoration: none;
      font-size: 1.3em;
      margin-bottom: 1em;
      color: #C893E4;
    }

    button{
      background: #C893E4;
      border: 1px solid #9E3CCE;
      color: #000000;
    }
    .tab-active{
      border: 1px solid #9E3CCE;
      border-bottom: none;
    }
    form{
      margin-top: 1em;
      display: none;

      input{
        width: 100%;
      }
    }
    p{
      color: #FFFFFF;
    }
}

main.container{
  div.row{
    margin: 0;
    max-width: none;
    #successMessageBox{
      border: 1px solid #88C470;
      display: none;
      background: #8ECE57;
    }
    div.four.columns{
      > a{
        margin-top: 2.75em;
        height: 32px;
        line-height: 32px;
        color: black;
        display: none;
        text-decoration: none;

        > div{
          float: left;
          display: none;
          }
        .plus-image{
          float: left;
          background: url('/images/plus.svg');
          height: 32px;
          width: 32px;
          margin: 0 .5em 0 0;
          display: none;
          }
      }
      form{
        display: none;
        float:left;
        width: 100%;

        #image-link{
          margin-top: 2em;
          width: 100%;
          }
        #image-caption{
          width: 100%;
        }
        #image-link-error-box{
          display: none;
          padding-left: 10px;
          border: 1px solid #DE2B3A;
          border-radius: 4px;
          margin-bottom: 1em;
        }
        #image-caption-error-box{
          border: 1px solid #DE2B3A;
          border-radius: 4px;
          display: none;
          padding-left: 10px;
          margin-bottom: 1em;
        }
        .white-border{
          border: 3px solid white;
          width: 50%;
          float: left;
          box-sizing: border-box;
          #cancel{
            width: 100%;
          }
          #submit{
            width: 100%;
          }
        }
      }
    }
    div.eight.columns{
      margin-top: 3em;
      #image-container{
        text-align:center;
        height: 100%;
        width: 100%;
        .image-box{

          img{
            border: 1px solid #000000;
            max-width: 100%;
            height: auto;
          }
        }
        .image-caption-container{
          border: 1px solid #000000;
          margin-bottom: 2em;
        }
      }
    }
  }
}

@media screen and (min-width: 549px){
  #sign-in-and-sign-up{
    left: 30%;
  }
  .four.columns{
    width: 100%;
  }
  .eight.columns{
    width: 100%;
  }
}

@media screen and (min-width: 622px){
  left: 50%;
  margin-left: 17.5%;

}

@media screen and (min-width: 833px){
  .four.columns{
    width: 26.6666666667%;
  }
  .eight.columns{
    width: 65.3333333333%;
  }

  nav{
    padding-left: 3em;
    #slogin{
      display:block;
    }
    .fa-plus-square{
      display: none;
    }
  }
  main.container{
    div.row{
      div.four.columns{
        a{
          display: block;
          width: 8em;
          > div{
          display: inline-block;
        }
          div.plus-image{
          display: inline-block;
          }
        }

        form{
          .white-border{
            float: none;
            width: 100%;
          }
        }
      }
    }
  }
}
